header{
    background-image: url("../img/banner.jpg");
    background-size: 700px 228px;
    border: 5px solid #000000;
    padding-left: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}


ul.navig {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../img/banner.jpg");
    background-size: 350px 114px;
    border: 5px solid black;
    margin-top: -5px;
  }
  
  li.navig {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(14, 100, 18);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  li a:hover {
    background-color: rgba(25, 110, 25, 0.473);
  }  

body{
    background-image: url("../img/bg.gif");
    background-size: 1280px 720px
}


h1{
    font-family: Consolas;
    font-style: italic;
    font-weight: bold;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic
}

h3{
    background-color:rgba(218, 204, 12, 0.932);
    border: 5px solid #000000;
    padding-left: 10px;
    color: rgb(0, 114, 89);
    margin-left:10px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: Consolas;
    border-radius: 10px;
}

h3.auteur{
    margin-right: 1025px;
}

p.cadre{
    background-color: rgb(0, 0, 0);
    border: 5px solid #000000;
    padding-left: 250px;
    padding-right: 10px;
    color: white;
    margin-left: 15px;
    margin-right: 690px;
    padding-top: 5px;
    margin-top: -5px;
    padding-bottom: 10px;
    background-image: url("../img/dieu.jpg");
    background-repeat: no-repeat;
}

p.notes{
    background-color: black;
    border: 5px solid #ffffff;
    color: white;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 752px;
    margin-right: 50px;
    margin-top: -180px;
    margin-bottom: 0px;
}

h4{
    background-color:rgba(218, 204, 12, 0.932);
    border: 3px solid #000000;
    margin-left: 800px;
    margin-right: 50px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-family: Consolas;
    color: rgb(0, 114, 89);
}

h5{
    background-color:rgba(218, 204, 12, 0.932);
    border: 3px solid #000000;
    margin-left: 10px;
    margin-right: 1125px;
    margin-top: -70px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-family: Consolas;
    color: rgb(0, 114, 89);
}

img.photo{
    border: 15px solid rgb(218, 204, 12);
    border-radius: 10px;
    margin-right: 50px;
    margin-left: 845px;
    margin-top: -10px;
}

ul.liste{
    background-color: rgb(218, 204, 12);
    border: 5px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 700px;
    margin-left: 15px;
    margin-top: -540px;
}