header{
    background-image: url("../img/banner3.png");
    background-repeat: no-repeat;
    background-color: rgba(0,212,254,255);
    background-size: 700px 228px;
    border: 5px solid black;
    padding-left: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

img.decal{
    padding-left: 905px;
}



ul.navig {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../img/barre.jpg");
    background-repeat: no-repeat;
    background-color: rgb(245, 242, 238);
    background-size: 350px 150px;
    background-position: left 0% bottom 55% ;
    border: 5px solid black;
    margin-top: -5px;
    padding-left: 1014px;
  }
  
  li.navig {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 162, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
  }

  li a:hover {
    background-color: rgba(81, 123, 179, 0.397);
  }  

body{
    background-image: url("../img/bg2.gif");
    background-size: 1480px 1020px
}


h1{
    font-family: Consolas;
    font-style: italic;
    font-weight: bold;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic
}

h3{
    background-color:rgba(0, 0, 0, 0.932);
    border: 5px solid #000000;
    padding-left: 10px;
    color: rgb(255, 0, 0);
    margin-left:10px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: Agency FB;
    margin-right: 15px;
}

p.cadre{
    background-color: rgb(0, 0, 0);
    border: 5px solid #0068a5;
    padding-left: 250px;
    padding-right: 10px;
    color: white;
    margin-left: 15px;
    margin-right: 690px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-image: url("../img/dieu.jpg");
    background-repeat: no-repeat;
}

p a{
    color: white;
}

iframe{
    border: 10px solid #002135;
    border-radius: 5px;
    margin-left: 500px;
}

p.notes{
    background-color: black;
    border: 5px solid #0068a5;
    color: white;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 752px;
    margin-right: 50px;
    margin-top: -180px;
    margin-bottom: 0px;
}