header{
    background-image: url("../img/punpunpng.png");
    background-size: 250px 228px;
    background-color: white;
    background-position: left 10%;
    background-repeat: no-repeat;
    border: 5px solid #000000;
    padding-left: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

img.decal{
    padding-left: 815px;
}

ul.navig {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    background-size: 350px 114px;
    border: 5px solid black;
    margin-top: -5px;
  }
  
  li.navig {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  li a:hover {
    background-color: rgba(255, 0, 0, 0.473);
  }  

body{
    background-image: url("../img/bg4.jpg");
    background-size: 1280px 720px
}


h1{
    font-family: Consolas;
    font-style: italic;
    font-weight: bold;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic
}

h3{
    background-color:rgba(0, 0, 0, 0.932);
    border: 5px solid #000000;
    padding-left: 10px;
    color: rgb(255, 0, 0);
    margin-left:10px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: Agency FB;
    margin-right: 15px;
}

h3.deux{
    margin-top: 20px;
}

p.cadre{
    background-color: rgb(0, 0, 0);
    border: 5px solid #580000;
    padding-left: 250px;
    padding-right: 10px;
    color: white;
    margin-left: 15px;
    margin-right: 690px;
    padding-top: 5px;
    margin-top: 10px;
    padding-bottom: 10px;
    background-image: url("../img/dieu.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    word-wrap: break-word;
}

p.notes{
    background-color: black;
    border: 5px solid #580000;
    color: white;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-left: 100px;
    margin-right: 600px;
    margin-top: 10px;
    margin-bottom: 0px;
    overflow: hidden;
    word-wrap: break-word;
}

h4{
    background-color:rgba(218, 204, 12, 0.932);
    border: 3px solid #000000;
    margin-left: 800px;
    margin-right: 50px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-family: Consolas;
    color: rgb(0, 114, 89);
}

h5{
    background-color:rgba(218, 204, 12, 0.932);
    border: 3px solid #000000;
    margin-left: 10px;
    margin-right: 1125px;
    margin-top: -70px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-family: Consolas;
    color: rgb(0, 114, 89);
}

img.photo{
    border: 15px solid rgb(97, 4, 1);
    border-radius: 10px;
    margin-right: 50px;
    margin-left: 855px;
    margin-top: -450px;
}